.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainContainer{
  display: flex;
  flex-direction: column;
  background-color: #3e9bff;
  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #f7f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  justify-content: center;
}

.input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-bottom: 25px;
  padding: 0 px;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
}

.button:hover {
  background-color: #0056b3;
}

.body{
  background-color: #3e9bff;
}

.drawer{
  color: #0e0a0a;
}

.h2{
  text-align: center;
}

.invalid{
  color: rgba(224, 3, 3, 0.365);
  font-size: x-small;
  font-style: italic;
  width: 50%;

}